<configuration>

	<globalDimensions>
        <nMess>50</nMess>
		<nMicro>25</nMicro>
	</globalDimensions>

	<connectionParameters>
		<miRNAs>
        <discrete_distribution>
                <distribution maxVal="20" minVal="1" nSuccess="2.5" successP="0.1" type="negbinomial" weight="1.0" />
                
        </discrete_distribution>
			<inOutDegree>in</inOutDegree>
		</miRNAs>
		
		<TFs>
			<coding>
				<discrete_distribution>
                <distribution maxVal="40" minVal="1" nSuccess="2.5" successP="0.24" type="negbinomial" weight="1.0" />
                </discrete_distribution>
				<inOutDegree>in</inOutDegree>
			</coding>
			<noncoding>
				<discrete_distribution>
                <distribution maxVal="40" minVal="1" nSuccess="2.5" successP="0.24" type="negbinomial" weight="1.0" />
                </discrete_distribution>
                <inOutDegree>in</inOutDegree>
			</noncoding>
		</TFs>

	</connectionParameters>


	<randomSeeds>
		<networkGenSeed>75436</networkGenSeed>
	</randomSeeds>

	<baseRates>
		<mess>
			<production>4.0</production>
			<decay>1.0</decay>
		</mess>
		
		<TF>
			<production>200.0</production>
			<decay>0.01</decay>
			<affinity>0.0001</affinity>
			<frequency>1.0</frequency>
			<effect>
            <continuous_distribution>
				<distribution displacement="0.4" mu="3.0" scale="0.75" sigma="1.25" type="lognormal" weight="1.0" />
            </continuous_distribution>
            </effect>
			
		</TF>
		<micro>
			<production>6.25</production>
			<decay>0.5</decay>
			<affinity>0.5</affinity>
			<frequency>4.0</frequency>
            <prodEffectStrength>0.2302585092994046</prodEffectStrength>
            <decayEffectStrength>2.5</decayEffectStrength>
		</micro>
		
		
		<defaultRate>1.0</defaultRate>
	</baseRates>
	
	<initialQuantities>
		<coding>2</coding>
		<noncoding>4</noncoding>
		<mess>0</mess>
		<micro>20</micro>
		<TF>0</TF>
	</initialQuantities>


	<prices>
		<proteinCost>1.0</proteinCost>
		<mRNACost>1.0</mRNACost>
		<miRNACost>1.0</miRNACost>
	</prices>

    <kinetics>
        <TXC>
        <K_ONE_HALF value="6.0" />
        <PROD_EXPONENT value="1.0" />
        </TXC>
        <TXL>
            <K_ONE_HALF value="5.0" />
            <PROD_EXPONENT value="1.0" />
        </TXL>
        <MESS_DECAY>
            <K_ONE_HALF value="5.0" />
            <EXPONENT value="1.0" />
        </MESS_DECAY>
        <MESSENGERDECAYFORCESMICRODECAY value="True" />
        <MESSENGERDECAYFORCESMICROUNBINDING value="False" />
    </kinetics>

</configuration>